<div class="container" *ngIf="resultados!=null;">
    <div class="row">
        <div class="col-3 py-3" *ngFor="let personaje of resultados.results">
            <div class="card" style="width: 18rem;">
                <img src="{{personaje.image}}" class="card-img-top" alt="{{personaje.name}}">
                <div class="card-body">
                  <h5 class="card-title">{{personaje.name}}</h5>
                  <a href="character?id={{personaje.id}}" class="btn btn-primary d-block bg-warning border-0">See more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<p *ngIf="resultados==null;">No hay resultados</p>